html,body {
    height: 100%;

}

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background: url("488327533-1024x1024.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-party {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    border-radius: 50px;
}

main {
    margin-bottom: 20px;
}

aside {
    margin-bottom: 15px;
}

footer {
    text-align: center;
}